/* card styles */

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 80px;
  margin-top: 80px;
}

.product_card {
  width: 300px;
  height: 300px;
  margin-bottom: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.card_body {
  background-color: initial;
  text-align: center;
}

.product_info {
  background-color: initial;
  margin-top: 10px;
}

.product_name {
  background-color: initial;
  font-size: 18px;
  margin: 0;
}

.product_description {
  background-color: initial;
  font-size: 14px;
  margin: 15px 0;
  color: #888;
}

.product_description * {
  background-color: inherit;
}

.product_price {
  background-color: initial;
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0;
}

.view_more_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.view_more {
  padding: 10px 20px;
  text-align: center;
  margin-bottom: 40px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 35px;
  }
}
